<style>
    div { border: 1px solid red; padding: 8px; }
    .mainButtonTable { display: grid; grid-template-columns: auto 1fr auto; }
    .orderFilterButtonTable { display: grid; grid-template-columns: auto auto auto auto 1fr auto; }
    .noTable { display: grid; grid-template-columns: 1fr; background-color: lightblue; margin-top: 20px; margin-bottom: 20px; }
    .mainTable { display: grid; grid-template-columns: 1fr auto; }
    .data-container { display: grid; grid-template-columns: 8em 1fr 8em; }
    .grayed-out { background-color: #888; opacity: 0.5; }
    .data-entry-center { text-align: center; word-break: break-all; }
    .data-entry-left { text-align: left; }
    .data-entry-right { text-align: right; }
    .button-container { }
    .checkbox-container { display: flex; align-items: center; justify-content: flex-start; color: grey; }
    .sortIconVisible { visibility: visible; }
    .sortIconInvisible { visibility: hidden; }
</style>

<div class='mainButtonTable'>
    <div class='button-container'>
        <form action='/details' method='GET'>
            <button id='createButton' type='submit'>Create new Todo </button>
        </form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='darkMode' value='true' />
            <button id='toggleStyle' type='submit'>Toggle Style</button>
        </form>
    </div>
</div>
<!-- Note: For this project, the newly sorted table can be displayed through a re-render. Using AJAX is not necessary -->
<div class='orderFilterButtonTable'>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='title' />

            <button {{#if_eq "title" orderBy}} class='button-selected' {{/if_eq}} id='orderByName' type='submit'>
                By Name
                <span class='{{#if_eq "title" orderBy}} sortIconVisible {{else}} sortIconInvisible {{/if_eq}}'>
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='dueDate' />
            <button {{#if_eq "dueDate" orderBy}} class='button-selected' {{/if_eq}} id='orderByDueDate' type='submit'>
                By Due Date
                <span class='{{#if_eq "dueDate" orderBy}} sortIconVisible {{else}} sortIconInvisible {{/if_eq}}'>
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='creationDate' />
            <button {{#if_eq "creationDate" orderBy}} class='button-selected' {{/if_eq}} id='orderCreationDate' type='submit'>
                By Creation Date
                <span class='{{#if_eq "creationDate" orderBy}} sortIconVisible {{else}} sortIconInvisible {{/if_eq}}'>
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='importance' />
            <button {{#if_eq "importance" orderBy}} class='button-selected' {{/if_eq}} id='orderByImportance' type='submit'>
                By Importance
                <span class='{{#if_eq "importance" orderBy}} sortIconVisible {{else}} sortIconInvisible {{/if_eq}}'>
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='filterCompleted' value='true' />
            <button {{#if_eq true filterCompleted}} class='button-selected' {{/if_eq}} id='filterCompleted' type='submit'>
                    Filter Completed
            </button>
        </form>
    </div>
</div>

<div class='mainTable'>
    {{#if data}}
        {{#each data}}
            <!-- Iterate over each entry in the data array -->
            <div class='data-container {{#if_eq this.state (get_EntryState_Completed)}} grayed-out {{/if_eq}}'>
                <div class='data-entry-left'>
                    {{dueDate_in_Days this.dueDate}}
                </div>
                <div class='data-entry-center'> {{this.title}} </div>
                <div class='data-entry-right'>
                    {{get_importance_icons this.importance}}
                </div>
                <div class='checkbox-container'>
                    <input type='checkbox' disabled {{#if_eq this.state (get_EntryState_Completed)}} checked {{/if_eq}} />

                    <label for='state'>{{#if_eq this.state (get_EntryState_Completed)}} Completed {{else}} Open {{/if_eq}}</label>
                </div>
                <div class='data-entry-center'> {{this.description}} </div>
                <div class='data-entry-center'> </div>
            </div>
            <div class='button-container'>
                <form id='editForm' action='/details/{{_id}}' method='GET'>
                    <button type='submit'>Edit</button>
                </form>
            </div>
        {{/each}}
    {{else}}
        <div class='noTable'> Keine Todo gefunden!? </div>
    {{/if}}
</div>
