<style>
    div { border: 1px solid red; padding: 8px; } .mainButtonTable { display:
    grid; grid-template-columns: auto 1fr auto; } .orderFilterButtonTable {
    display: grid; grid-template-columns: auto auto auto auto 1fr auto; }
    .mainTable { display: grid; grid-template-columns: 1fr auto; }
    .data-container { display: grid; grid-template-columns: 7em 1fr 7em; }
    .grayed-out { background-color: #888; opacity: 0.5; } .data-entry-center {
    text-align: center; word-break: break-all;} .data-entry-left { text-align:
    left;} .data-entry-right { text-align: right;} .button-container { }
    .checkbox-container { display: flex; align-items: center; justify-content:
    flex-start; } input[type="checkbox"] { margin-left: 0; margin-right: 5px;
    }.sortIconVisible { visibility: visible; } .sortIconInvisible { visibility:
    hidden; } .filterButtonBold { font-weight: bold; }
</style>

<div class='mainButtonTable'>
    <div class='button-container'>
        <form action='/details' method='GET'><input
                type='submit'
                value='Create new Todo'
            /></form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='darkMode' value='true' />
            <button id='toggleStyle' type='submit'>Toggle Style</button>
        </form>
    </div>
</div>
<!-- Note: For this project, the newly sorted table can be displayed through a re-render. Using AJAX is not necessary -->
<div class='orderFilterButtonTable'>
    <!-- Todo: Add arrows as sort direction indicators -->
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='title' />
            <button id='orderByName' type='submit'>
                By Name
                <span class='{{get_orderDirection_visibility "title" orderBy}}'>
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='dueDate' />
            <button id='orderByDueDate' type='submit'>
                By Due Date
                <span
                    class='{{get_orderDirection_visibility "dueDate" orderBy}}'
                >
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='creationDate' />
            <button id='orderCreationDate' type='submit'>
                By Creation Date
                <span
                    class='{{get_orderDirection_visibility
                            "creationDate"
                            orderBy
                        }}'
                >
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='importance' />
            <button id='orderByImportance' type='submit'>
                By Importance
                <span
                    class='{{get_orderDirection_visibility
                            "importance"
                            orderBy
                        }}'
                >
                    {{get_orderDirection_icon orderDirection}}
                </span>
            </button>
        </form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='filterCompleted' value='true' />
            <button id='filterCompleted' type='submit'>
                <span class='{{get_filterCompleted_boldness filterCompleted}}'>
                    Filter Completed
                </span>
            </button>
        </form>
    </div>
</div>

<div class='mainTable'>
    {{#each data}}
        <!-- Iterate over each entry in the data array -->
        <div class='data-container {{#if_eq this.state (get_EntryState_Completed)}} grayed-out {{else}}  {{/if_eq}}'>
            <div class='data-entry-left'>
                {{dueDate_in_Days this.dueDate}}
            </div>
            <div class='data-entry-center'> {{this.title}} </div>
            <div class='data-entry-right'>
                {{get_importance_icons this.importance}}
            </div>
            <div class='checkbox-container'>
                <input type='checkbox' disabled {{#if_eq this.state (get_EntryState_Completed)}} checked {{else}}  {{/if_eq}} />
				
                <label for='state'>{{#if_eq this.state (get_EntryState_Completed)}} Completed {{else}} Open {{/if_eq}}</label>
            </div>
            <div class='data-entry-center'> {{this.description}} </div>
            <div class='data-entry-center'> </div>
        </div>
        <div class='button-container'>
            <form id='editForm' action='/details/{{_id}}' method='GET'>
                <button type='submit'>Edit</button>
            </form>
        </div>
    {{/each}}
</div>
