<style>

    div {
        border: 1px solid red;
        padding: 8px;
    }
    .mainButtonTable {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .sortFilterButtonTable {
        display: grid;
        grid-template-columns: auto auto auto auto 1fr auto;
    }

    .mainTable {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .data-container {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    .data-entry {
        text-align: center;
    }

    .button-container {

    }
</style>

<div class="mainButtonTable">
    <div class="button-container"> <form action='/entries' method='get'><input type='submit' value='Create new Todo'></form> </div>
    <div class="button-container"> </div>
    <div class="button-container"> <button>Toggle Style</button> </div>     <!-- Todo: add functionality -->
</div>

<div class="sortFilterButtonTable">
    <div class="button-container"> <button>By Name</button> </div>     <!-- Todo: add functionality -->
    <div class="button-container"> <button>By Due Date</button> </div>     <!-- Todo: add functionality -->
    <div class="button-container"> <button>By Creation Date</button> </div>     <!-- Todo: add functionality -->
    <div class="button-container"> <button>By Importance</button> </div>     <!-- Todo: add functionality -->
    <div class="button-container"> </div>
    <div class="button-container"> <button>Filter Completed</button> </div>     <!-- Todo: add functionality -->
</div>

<div class="mainTable">
    {{#each data}} <!-- Iterate over each entry in the data array -->
        <div class="data-container">
            <div class="data-entry"> {{this.dueDate}} </div> <!-- Display the title parameter -->
            <div class="data-entry"> {{this.title}} </div> <!-- Display the importance parameter -->
            <div class="data-entry"> {{this.importance}} </div> <!-- Display the date parameter -->
            <div class="data-entry"> {{this.state}} </div> <!-- Display the finished parameter -->
            <div class="data-entry"> {{this.description}} </div> <!-- Display the description parameter -->
            <div class="data-entry">   </div>
        </div>

        <div class="button-container">
            <button>Edit</button>   <!-- Todo: add functionality -->
        </div>
    {{/each}}
</div>

