<style>

    div { border: 1px solid red; padding: 8px; } .mainButtonTable { display:
    grid; grid-template-columns: auto 1fr auto; } .orderFilterButtonTable {
    display: grid; grid-template-columns: auto auto auto auto 1fr auto; }
    .mainTable { display: grid; grid-template-columns: 1fr auto; }
    .data-container { display: grid; grid-template-columns: auto 1fr auto; }
    .grayed-out { background-color: #888; opacity: 0.5; } .data-entry {
    text-align: center; } .button-container { }
</style>

<div class='mainButtonTable'>
    <div class='button-container'>
        <form action='/details' method='GET'><input
                type='submit'
                value='Create new Todo'
            /></form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='darkMode' value='true' />
            <button id='toggleStyle' type='submit'>Toggle Style</button>
        </form>
    </div>
    <!-- Todo: add functionality -->
</div>
<!-- Note: For this project, the newly sorted table can be displayed through a re-render. Using AJAX is not necessary -->
<div class='orderFilterButtonTable'>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='title' />
            <button id='orderByName' type='submit'> By Name </button>
        </form>
    </div>

    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='dueDate' />
            <button id='orderByDueDate' type='submit'> By Due Date </button>
        </form>
    </div>

    <div class='button-container'> <button>By Creation Date</button> </div>
    <!-- Todo add functionality -->
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='importance' />
            <button id='orderByImportance' type='submit'>
                By Importance
            </button>
        </form>
    </div>
    <div class='button-container'> </div>
    <div class='button-container'>
        <form action='/index' method='GET'>
            <input type='hidden' name='orderBy' value='filterCompleted' />
            <button id='filterCompleted' type='submit'>
                Filter Completed
            </button>
        </form>
    </div>
</div>

<div class='mainTable'>
    <!-- Todo: Add "Completed" tickbox -->
    {{#each data}}
        <!-- Iterate over each entry in the data array -->
        {{#if_eq this.state 'COMPLETED'}}
            <div class='data-container grayed-out'>
                <div class='data-entry'> {{this.dueDate}} </div>
                <div class='data-entry'> {{this.title}} </div>
                <div class='data-entry'> {{this.importance}} </div>
                <div class='data-entry'> {{this.state}} </div>
                <div class='data-entry'> {{this.description}} </div>
                <div class='data-entry'> </div>
            </div>
        {{else}}
            <div class='data-container'>
                <div class='data-entry'> {{this.dueDate}} </div>
                <div class='data-entry'> {{this.title}} </div>
                <div class='data-entry'> {{this.importance}} </div>
                <div class='data-entry'> {{this.state}} </div>
                <div class='data-entry'> {{this.description}} </div>
                <div class='data-entry'> </div>
            </div>
        {{/if_eq}}
        <!-- todo: i don't like that this needs a form and a hidden id field for the GET query -->
        <div class='button-container'>
            <form id='editForm' action='/update' method='GET'>
                <input type='hidden' name='id' value='{{this._id}}' />
                <button type='submit'>Edit</button>
            </form>
        </div>
    {{/each}}
</div>