<style>
    form { display: flex; flex-direction: column; align-items: flex-start;
    margin: 20px; } label { width: 100%; } input[type="checkbox"] { margin-left:
    0; } input, textarea { width: 100%; } button { margin-top: 10px; }
    .checkbox-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    input[type="checkbox"] {
        margin-left: 0;
        margin-right: 5px;
    }
</style>

<!-- Todo: option without "each" as there is always only one dataset here -->
{{#each data}}
    <form id='updateEntryForm' action='/details/{{this._id}}' method='post'>
        <!--------------------------------------------------------------------------------------------------------------------->
        <!-- override method with put -->
        <input type='hidden' name='_method' value='put'>
        <!--------------------------------------------------------------------------------------------------------------------->
        <label for='title'>Title:</label>
        <input
            type='text'
            id='title'
            name='noteTitle'
            required
            value={{this.title}}
        />

        <label for='importance'>Importance (1-5):</label>
        <input
            type='number'
            id='importance'
            name='noteImportance'
            min='1'
            max='5'
            required
            value={{this.importance}}
        />

        <label for='date'>Due Date:</label>
        <input
            type='date'
            id='date'
            name='noteDueDate'
            required
            value={{this.dueDate}}
        />

        {{#if_eq this.state (get_EntryState_Completed)}}
            <div class='checkbox-container'>
                <input type='checkbox' id='state' name='noteState' value='{{get_EntryState_Completed}}' checked />
                <label for='state'>Finished</label>
            </div>
        {{else}}
            <div class='checkbox-container'>
                <input type='checkbox' id='state' name='noteState' value='{{get_EntryState_Completed}}' />
                <label for='state'>Finished</label>
            </div>
        {{/if_eq}}


        <label for='description'>Description:</label>
        <textarea
            id='description'
            name='noteDescription'
        >{{this.description}}</textarea>

        <!--------------------------------------------------------------------------------------------------------------------->
        <input type='submit' name='update_button' value='Update' />
        <input
            type='submit'
            name='update_overview_button'
            value='Update & Overview'
        />

    </form>
{{/each}}
<!--------------------------------------------------------------------------------------------------------------------->
<form id='overviewForm' action='/index' method='GET'>
    <input type='submit' value='Overview'>
</form>

